@model List<TelaCadastro.ViewModels.CidadeViewModel>
@{
    Layout = null;
}
<table id="tabelacidade">
    <thead class="tableHead">
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Estado</th>
            <th>Cep</th>
        </tr>
    </thead>
    <tbody class="tableBody">
        @foreach (var item in Model)
        {
            <tr style="cursor:pointer;" onclick="BuscarAlunos(@item.cidadeid)">
                <td>@item.cidadeid</td>
                <td>@item.nome</td>
                <td>@item.estado</td>
                <td>@item.cep</td>
            </tr>
        }
    </tbody>
</table>

