@model List<TelaCadastro.ViewModels.AlunoViewModel>
@{
    Layout = null;
}
<div class="container">
    <div class="painel modal-painel">
        <button class="modal-fechar" onclick="FecharModal()">X</button>
        <h2>Alunos</h2>
        <hr />

        <div class="row">
            <table id="tabelaaluno">
                <thead class="tableHead">
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Cpf</th>
                        <th>Sexo</th>
                        <th>Telefone</th>
                        <th>Data de Cadastro</th>
                        <th>Cidade</th>
                    </tr>
                </thead>
                <tbody class="tableBody">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.alunoid</td>
                            <td>@item.nome</td>
                            <td>@item.cpf</td>
                            <td>@(item.sexo == "M" ? "Masculino" : item.sexo == "F" ? "Feminino" : "")</td>
                            <td>@item.telefone</td>
                            <td>@(item.datacadastro.HasValue ? item.datacadastro.Value.ToShortDateString() : "")</td>
                            <td>@item.cidade</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
